<h1>New Restaurant Pizza</h1>

<% if flash[:my_errors] %>
    <% flash[:my_errors].each do |error| %>
        <p><%= error %></p>
    <% end %>
<% end %>

<%= form_for @restaurantpizza do |f| %>
    <%= f.label :restaurant_id %>
    <%= f.collection_select :restaurant_id, @restaurants, :id, :name %>

    <%= f.label :pizza_id %>
    <%= f.collection_select :pizza_id, @pizzas, :id, :name %>
    
    <%= f.label :price %>
    <%= f.number_field :price %>

    <%= f.submit %>

<% end %>
